@import '../../master.scss';

.item-container {
    display: flex;
    background: $light-grey;
    color: $black;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;

    .items {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translate(0,0);
    }
    
    .arrow {
        background: #f8f8f8;
        width: 50px;
        height: 50px;
        position: absolute;
        top: 50%;
        border-radius: 100%;
        transform: translate(0px, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 27px;
        cursor: pointer;
        transition: opacity 0.11s ease-out;

        &.left {
            left: 25px;
        }
        &.right {
            right:25px;

        }

        &:hover {
            opacity: 0.9;
        }
    }
}