@import '../../master.scss';

.item-container {
    display: flex;
    background: $light-grey;
    color: $black;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;

    .items {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translate(0,0);
        transition: all 0.2s ease;
        justify-content: flex-start;
        margin-left: 10%;
    }
    
    .arrow {
        background: $light-grey;
        color: $black;
        width: 50px;
        height: 50px;
        position: absolute;
        top: 50%;
        border-radius: 100%;
        transform: translate(0px, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 27px;
        cursor: pointer;
        transition: opacity 0.11s ease-out;
        -webkit-box-shadow: 0px 0px 17px -8px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 17px -8px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 17px -8px rgba(0,0,0,0.75);

        &.left {
            left: 25px;
        }
        &.right {
            right:25px;

        }

        &:hover {
            opacity: 0.9;
        }
    }
}