@import '../../../master.scss';

.item {
    width: 90%;
    flex: 0 0 auto;
    height: 70vw;
    background-color: $light-grey;
    border: 2px solid black;
    min-width: 90%;
    max-height: 575px;
    transform: scale(0.8);
    transition: all 0.2s ease;

    &.active {
        transform: scale(1);
    }
}
